<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Allow Sparkle's XPC services to communicate -->
    <key>com.apple.security.temporary-exception.mach-lookup.global-name</key>
    <array>
        <string>org.sparkle-project.Sparkle.updater</string>
    </array>
</dict>
</plist>
